# Ignore node_modules directory (common for JavaScript projects)
node_modules/

# Ignore log files
*.log

# Ignore environment files (e.g., .env containing sensitive information)
.env

# Ignore macOS-specific files
.DS_Store

# Ignore system files (Windows)
Thumbs.db

# Ignore Python bytecode files
*.pyc

# Ignore IDE/editor specific files
.vscode/
.idea/


# Ignore all GitExtensions.settings files, no matter the directory
**/GitExtensions.settings

